
header {
    padding: 24px 0;
    background: #444;
    color: #fff;

    > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1em;
    }

    form {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        padding: 24px 0 12px;

        input {
            flex-basis: 40%;
            padding: 8px;
            font-family: 'Open Sans', sans-serif;
            border: none;
            line-height: 1.5; 

            &[type="text"] {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &[type="submit"] {
                background: #ddd;
                cursor: pointer;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-left: 2px solid #888;
                &:hover {
                    background: #bbb;
                }
            }
        }
    }

    a {
        background: #fff;
        padding: 12px 24px;
        border-radius: 5px;
        font-size: 1.2em;
        &:hover {
            background: #ddd;
        }
    }
}
