
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header + .container {
    flex-grow: 1;    
}

a {
    text-decoration: none;
    color: #000;
}

